<section id="section-body">
    <div class="container">
        <div class="page-title breadcrumb-top">
            <div class="row">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i></a></li>
                        <li>Propriete</li>
                        <li class="active">A vendre</li>
                    </ol>
                    <div class="page-title-left">
                        <h2>Propriete mise en vente</h2>
                    </div>
                    <div class="page-title-right">
                        <div class="view hidden-xs">
                            <div class="table-cell">
                                <span class="view-btn btn-list active"><i class="fa fa-th-list"></i></span>
                                <span class="view-btn btn-grid"><i class="fa fa-th-large"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">