Hi {{ user.username }} <br/>

to reset your account on <a href="http://mamaison.mg">mamaison.mg</a>, please follow this <a href="{{ url("reset.change",{'token' : user.resetPasswordToken}) }}">link</a>.  <br/>
<br/>
<br/>
best regards <br/>
Mamaison Team.


