{% extends 'base-for-login.html.twig' %}

{% block content %}
    <section id="section-body">
        <div class="container">
            <div class="page-title breadcrumb-top">
                <div class="row">
                    <div class="col-sm-12">
                        <ol class="breadcrumb">
                            <li><a href="{{ path('homepage') }}"><i class="fa fa-home"></i></a></li>
                            <li class="active">Reinitialiser mot de passe</li>
                        </ol>
                        <div class="page-title-left">
                            <h2>Reinitialiser mot de passe</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Email envoye
                        </div>
                        <div class="panel-body">
                            <p class="text">
                                Bonjour {{ user.username }},
                            </p>
                            <p class="text">
                                Un email a ete envoye a <span style="color: #0eaae5">{{ user.email }}</span>  pour reinitialiser votre mot de passe
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}