{% extends 'base-for-login.html.twig' %}

{% block content %}

    <div class="tab-content tabstyle">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <p class="text">
                    Bonjour {{ user.username }},
                </p>
                <p class="text">
                    Un e-mail a ete envoye a {{ user.email }} pour recuperer votre mot de passe.
                </p>
            </div>
        </div>
    </div>

{% endblock %}