{% extends 'base-for-login.html.twig' %}

{% block content %}
    <div class="tab-content tabstyle">
        <div class="row">
            <div class="col-md-4 col-sm-4"></div>
            <div class="col-md-4 col-sm-4">
                <p>
                    Entrer votre adresse e-mail pour recuperer votre mot de passe
                </p>
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        <i class="fa fa-times-circle-o">
                            {{ message }}
                        </i>
                    </div>
                {% endfor %}
                <form action="" method="post">
                    <div class="form-group field-group">
                        <div class="input-user input-icon">
                            <input type="email" placeholder="Entrer votre email" id="_email" name="_email" required="required"/>
                        </div>
                    </div>

                    {#<div ></div>#}
                    <input class="btn btn-primary btn-block" type="submit" id="_submit" name="_submit" value="Envoyer" />
                </form>
            </div>
            <div class="col-xs-4 col-sm-4"></div>
        </div>
    </div>
{% endblock %}