<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Encore</title>
</head>
<body>
    <div>
        <button id="search">Rechercher</button>
        <input type="file" name="file[]" value="{{ asset('assets/images/mamaison1.jpg') }}">
    </div>
    </script>
</body>
</html>